@import url("https://fonts.googleapis.com/css2?family=Ballet&family=Lobster&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Rock+Salt&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&display=swap");

html {
  scroll-behavior: smooth;
  font-family: "Roboto", sans-serif !important;
  overflow-x: hidden;
  min-height: 100vh;
}
body {
  margin: 0;
  min-height: 100vh;
}

.text-white {
  color: #fff;
}

#landing {
  background-image: url("../landing_image_6.jpg");
  background-position: center center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 100vh;
}

#about {
  background: #fff;
  min-height: 100vh;
}

.ghost-button-full-color {
  display: inline-block;
  width: 200px;
  padding: 8px;
  color: #000;
  background-color: transparent;
  border: 2px solid #000;
  border-radius: 25px;
  text-align: center;
  outline: none;
  text-decoration: none;
  transition: color 0.3s ease-out, background-color 0.3s ease-out,
    border-color 0.3s ease-out;
}
.ghost-button-full-color:hover,
.ghost-button-full-color:active {
  background-color: #2f394d;
  border-color: #2f394d;
  color: #fff;
  transition: color 0.3s ease-in, background-color 0.3s ease-in,
    border-color 0.3s ease-in;
}

.list-group {
  margin-top: 50px;
}

#skills {
  background: #e63946;
  max-width: 100%;
  min-height: 100vh;
  margin: auto;
  padding: auto;
}

/* Portfolio Section*/
#portfolio {
  background: #457b9d;
  max-width: 100%;
  min-height: 100vh;
}
.main {
  max-width: 1000px;
  margin: auto;
}
.row {
  margin: 10px -16px;
}

/* Add padding BETWEEN each column */
.row,
.row > .column {
  padding: 8px;
}

/* Create three equal columns that floats next to each other */
.column {
  float: left;
  width: 50%;

  display: none; /* Hide all elements by default */
}

/* Clear floats after rows */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Content */
.content {
  /* background-color: white; */
  padding: 10px;
  height: 150px;
}

/* The "show" class is added to the filtered elements */
.show {
  display: block;
}

/* Style the buttons */
.btn {
  border: none;
  outline: none;
  padding: 12px 16px;
  background-color: white;
  cursor: pointer;
}

.btn:hover {
  background-color: #ddd;
}

.btn.active {
  background-color: #666;
  color: white;
}
/*End of Portfolio Section*/

.intro {
  position: absolute;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
  color: white;
}

.intro h1 {
  font-size: 4vw !important;
  font-family: "Raleway";
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40, end), blink-caret 0.75s step-end infinite;
}

.intro h2 {
  font-size: 4vw !important;
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  border-right: solid orange; /* The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 0 auto; /* Gives that scrolling effect as the typing happens */
  animation: typing 3.5s steps(40), blink-caret 0.75s step-end infinite;
}
/* The typing effect */
@keyframes typing {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}

/* The typewriter cursor effect */
@keyframes blink-caret {
  from,
  to {
    border-color: transparent;
  }
  50% {
    border-color: orange;
  }
}

/* Navbar */
.navbar {
  background-color: rgba(3, 3, 3, 0.4) !important;
  transition: all 0.4s;
  z-index: -1;
}
.navbar a {
  color: #fff;
}

.navbar .nav-link {
  color: #fff;
}

.navbar .nav-link:hover,
.navbar .nav-link:focus {
  color: #fff;
  text-decoration: none;
}
/* End Of Navbar */

.myName {
  font-family: "Dancing Script", cursive;
  font-weight: bolder;
  font-size: 7vw;
  color: #2f394d;
}

/* Scroll Function*/

.arrowdown {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  font-family: "Raleway", sans-serif;
}

.scroll-down {
  position: absolute;
  bottom: 5rem;
  left: 50%;
  transform: translate(-50%);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.arrow span {
  display: block;
  width: 1rem;
  height: 1rem;
  border: 5px solid transparent;
  border-right: 5px solid #fff;
  border-bottom-color: #fff;
  transform: rotate(45deg);
  animation: arrow-down 0.5s alternate infinite;
}

@keyframes arrow-down {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 0.25;
  }
  50% {
    opacity: 0.5;
  }
  75% {
    opacity: 0.75;
  }
  100% {
    opacity: 1;
  }
}

@media (max-width: 767px) {
  .navbar .nav-item a {
    color: #fff;
    font-weight: bolder;
  }
}
/* footer */
#footer {
  padding-top: 1em;
  padding-bottom: 1em;
  background-color: #1d3557;
}

#footer h5 {
  color: #fff;
  font-family: "Raleway", sans-serif;
}

.circleimg {
  border-radius: 50%;
  max-width: 100%;
  height: auto;
  display: block;
  margin-right: auto;
  margin-left: auto;
}

#contactme {
  background-image: url("../landing_image_2.jpg");
  background-position: center;
  position: fixed;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}
.section-heading {
  color: #fff;
}
.transcontainer {
  background-color: rgb(0, 0, 0, 0.5) !important;
}

.fa {
  font-size: 5rem;
}

.message {
  padding-bottom: 11.5vh !important;
  margin-top: 1vh !important;
}

.zoom {
  transition: transform 0.2s; /* Animation */
}

.zoom:hover {
  transform: scale(
    1.5
  ); /* (150% zoom - Note: if the zoom is too large, it will go outside of the viewport) */
}

.code-btn {
  display: block !important;
}

/* Scrollbar */
/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #888;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

/*  */

.column {
  width: 100%;
}

.portfolio-item {
  display: block;
  position: relative;
  overflow: hidden;
  max-width: 530px;
  margin: auto auto 1rem;
}

.portfolio-item .caption {
  display: flex;
  height: 100%;
  width: 100%;
  background-color: rgba(33, 37, 41, 0.2);
  position: absolute;
  top: 0;
  bottom: 0;
  z-index: 1;
}

.portfolio-item .caption .caption-content {
  color: #fff;
  margin: auto 2rem 2rem;
}

.portfolio-item .caption .caption-content h2 {
  font-size: 0.8rem;
  text-transform: uppercase;
}

.portfolio-item .caption .caption-content p {
  font-weight: 300;
  font-size: 1.2rem;
}
@media (min-width: 992px) {
  .portfolio-item {
    max-width: none;
    margin: 0;
  }
  .portfolio-item .caption {
    transition: background-color 0.7s, -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, background-color 0.7s;
    transition: clip-path 0.25s ease-out, background-color 0.7s,
      -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(0px);
    clip-path: inset(0px);
  }
  .portfolio-item .caption .caption-content {
    transition: opacity 0.25s;
    margin-left: 5rem;
    margin-right: 5rem;
    margin-bottom: 5rem;
  }
  .portfolio-item img {
    transition: -webkit-clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out;
    transition: clip-path 0.25s ease-out, -webkit-clip-path 0.25s ease-out;
    -webkit-clip-path: inset(-1px);
    clip-path: inset(-1px);
  }
  .portfolio-item:hover img {
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
  .portfolio-item:hover .caption {
    background-color: rgba(29, 128, 159, 0.9);
    -webkit-clip-path: inset(2rem);
    clip-path: inset(2rem);
  }
}
